<p>
  new-cmp works! claro que si componente 2
</p>
Cambiar color: <input type="text" (blur)="changeColor()" [(ngModel)]="color" name="changecolor">
<div class="container" [style.background]="!ObjetosVisibles ? color : 'blue'">
	<button (click)="showObjetos()" *ngIf="ObjetosVisibles == false">
		Mostrar Objetos
	</button>


	<button (click)="hideObjetos()" *ngIf="ObjetosVisibles == true">
		Ocultar Objetos
	</button>
	<ul id="objetos" *ngIf="ObjetosVisibles == true">
		<li *ngFor="let objeto of objetos">{{objeto}}</li>
	</ul>
</div>